.center {
  padding: 20% 0;
  text-align: center;
}

.center-logo {
  padding: 20% 0;
  text-align: center;
}

/* body color */
body {
  background-color: grey;
}

/* paragraph text color */
p {
  color: white;
  font-family: sans-serif;
}


h1 {
  color: white;
  font-family: sans-serif;
}

li{
  color: white;
  font-size: 17px;
}

/*merchandise*/
.merch{
  margin:0px 0px 0px 0px;
}

.merch img{
  transition: 1s;
  padding:22px;
}

.merch img:hover{
  filter:grayscale(100%);
  transform: scale(1.1);
}




/*links*/
a:link {
  color: #A52A2A;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


/* header */
.header {
  opacity: 0.6;
  padding: 30px 16px;
  color: black;
  background: black;
  width: 100%;
  top: 0;
  position: fixed;
}

.mainContentContainer {

}

/* add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}